<header class="header sticky top-0 bg-white shadow-md flex items-center justify-between px-8 py-02 z-50">
    <nav class="bg-white border-b border-gray-200 px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50">
        <div class="flex flex-wrap justify-between items-center">
            <div class="flex justify-start items-center">
                <a href="{{ path('home.index') }}" class="flex items-center justify-between mr-4">Accueil</a>
                <a href="{{ path('admin.index') }}" class="flex items-center justify-between mr-4">Administration</a>
            </div>

            <div class="flex items-center">
                <a href="{{ path('home.index') }}" class="flex items-center justify-between mr-4">
                    <img src="/images/logo-jo-colored.png" class="mr-3 h-8" alt="Logo des Jeux Olympics Paris 2024"/>
                </a>
            </div>

            <div class="flex items-center lg:order-2">

                <!-- Cart -->
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('cart.index') }}" class="p-2 mr-1 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
                        <div class="relative">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 .917 11.923A1 1 0 0 1 17.92 21H6.08a1 1 0 0 1-.997-1.077L6 8h12Z"/>
                            </svg>
                            {% include 'cart/total.html.twig' %}
                        </div>
                    </a>
                {% endif %}

                <!-- User -->
                <a href="{{ path('account.index') }}" class="p-2 mr-1 text-gray-500 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                    </svg>
                </a>
            </div>
        </div>
    </nav>
</header>

{% if app.request.attributes.get('_route') starts with 'account' %}
    {% include 'components/sideBar.html.twig' %}
{% endif %}